html, body {
    font-family: 'Roboto Condensed', 'Consolas', monospace, sans-serif;
    font-size: 14px;
    background-color: #1f1f1f;
    color: white;
    user-select: none;
    width: 100%; height: 100%;
    overflow: hidden;
    position: relative;
    margin: 0;
}

div.screen {
    width: 100%; height: 100%;
    position: absolute;
}

div.wrapperchild {
    width: 100%; height: 100%;
    position: relative;
}

div.cover {
    position: absolute;
    width: 100%; height: 100%;
    background-color: #00000000;
    transition: 0.5s linear background-color;
}
div.cover.fade {
    background-color: #000000;
}
